<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.CustomerMapper">
    <!-- 解决表名与字段不匹配 -->
    <resultMap type="Customer"  id="resultMap">
        <id property="id" column="id"/>
        <result property="bedId" column="bedid"/>
        <result property="cname" column="cname"/>
        <result property="sex" column="sex"/>
        <result property="birthday" column="birthday"/>
        <result property="level" column="level"/>
        <result property="idcard" column="idcard"/>
        <result property="address" column="address"/>
        <result property="nurse" column="nurse"/>
        <result property="indate" column="indate"/>
        <result property="outdate" column="outdate"/>
        <result property="relation" column="relation"/>
        <result property="rphone" column="rphone"/>
        <result property="rname" column="rname"/>
        <result property="raddress" column="raddress"/>
    </resultMap>
    <resultMap type="Customer"  id="resultMapBed">
        <id property="id" column="id"/>
        <result property="bedId" column="bedid"/>
        <result property="cname" column="cname"/>
        <result property="sex" column="sex"/>
        <result property="birthday" column="birthday"/>
        <result property="level" column="level"/>
        <result property="idcard" column="idcard"/>
        <result property="address" column="address"/>
        <result property="nurse" column="nurse"/>
        <result property="indate" column="indate"/>
        <result property="outdate" column="outdate"/>
        <result property="relation" column="relation"/>
        <result property="rphone" column="rphone"/>
        <result property="rname" column="rname"/>
        <result property="raddress" column="raddress"/>
        <association property="bed" javaType="Bed">
            <id property="id" column="id"/>
	        <result property="code" column="code"/>
	        <result property="room" column="room"/>
	        <result property="area" column="area"/>
	        <result property="description" column="description"/>
        </association>
    </resultMap>
    <!-- 
   	 方式一：嵌套结果：使用嵌套结果映射来处理重复的联合结果的子集
             封装联表查询的数据(去除重复的数据)
        select * from class c, teacher t where c.teacher_id=t.t_id and c.c_id=1
    -->
    <select id="getReport" parameterType="Customer" resultMap="resultMapBed">
        select * from t_customer c, t_bed b where c.bedid =  b.code  
    </select>
   
    <select id="findAllCustomer" resultMap="resultMap" resultType="Customer">
        select * from t_customer
    </select>
    
     <select id="findCustomerByWhere" resultMap="resultMap" resultType="Customer" parameterType="Customer">
        select * from t_customer <include refid="where" />
    </select>
    
    <sql id="where">
    <where >
     	  1=1 
         <if test="id != null  and id !=''"> 
    	      and id = #{id} 
    	  </if>
    	  <if test="cname != null  and cname !=''"> 
    	      and cname like '%${cname}%' 
    	  </if>
    	  <if test="idcard != null  and idcard !=''"> 
    	      and idcard like '%${idcard}%'
    	  </if>
    	  <if test="nurse != null  and nurse !=''"> 
    	      and nurse like '%${nurse}%'
    	  </if>
    </where>
    </sql>
    
    <insert id="insertCustomer" parameterType="Customer" >
    	insert into t_customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" > ID, </if>
      <if test="bedId != null" > bedId, </if>
      <if test="cname != null" > cname, </if>
      <if test="sex != null" > sex,</if>
      <if test="birthday != null and birthday !='' " > birthday, </if>
      <if test="level != null" >level, </if>
      <if test="idcard != null" >  idcard,</if>
      <if test="address != null" >  address, </if>
      <if test="nurse != null" > nurse, </if>
      <if test="indate != null and indate !=''" >  indate,</if>
      <if test="outdate != null and outdate !=''" >outdate, </if>
      <if test="relation != null" >relation, </if>
      <if test="rphone != null" > rphone,</if>
      <if test="rname != null" > rname,</if>
      <if test="raddress != null" > raddress,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" > #{id,jdbcType=INTEGER}, </if>
      <if test="bedId != null" > #{bedId,jdbcType=VARCHAR}, </if>
      <if test="cname != null" > #{cname,jdbcType=VARCHAR}, </if>
      <if test="sex != null" > #{sex,jdbcType=VARCHAR}, </if>
      <if test="birthday != null and birthday !='' " > #{birthday,jdbcType=VARCHAR}, </if>
      <if test="level != null" > #{level,jdbcType=VARCHAR}, </if>
      <if test="idcard != null" > #{idcard,jdbcType=VARCHAR},</if>
      <if test="address != null" > #{address,jdbcType=VARCHAR},</if>
       <if test="nurse != null" > #{nurse,jdbcType=VARCHAR},
      </if>
      <if test="indate != null " >  #{indate,jdbcType=VARCHAR},
      </if>
      <if test="outdate != null " > #{outdate,jdbcType=VARCHAR},
      </if>
      <if test="relation != null" > #{relation,jdbcType=VARCHAR},</if>
      <if test="rphone != null" > #{rphone,jdbcType=VARCHAR},
      </if>
      <if test="rname != null" >  #{rname,jdbcType=VARCHAR},
      </if>
      <if test="raddress != null" > #{raddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateCustomer" parameterType="Customer">
    	 update t_customer set bedId = #{bedId} , cname = #{cname},sex = #{sex},birthday = #{birthday},level = #{level} ,
    	  idcard = #{idcard} , address = #{address},nurse = #{nurse},indate = #{indate},outdate = #{outdate} ,
    	  relation = #{relation},rphone = #{rphone},rname = #{rname},raddress = #{raddress} where id = #{id}
  </update>
  
  
  <delete id="deleteCustomer" parameterType="Customer">
         delete from t_customer where id=#{id}
  </delete>
  
  
</mapper>