<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="User" type="com.model.User"/>
        <typeAlias alias="Customer" type="com.model.Customer"/>
        <typeAlias alias="Bed" type="com.model.Bed"/>
        <typeAlias alias="Room" type="com.model.Room"/>
        <typeAlias alias="Move" type="com.model.Move"/>
        <typeAlias alias="Leave" type="com.model.Leave"/>
        <typeAlias alias="Visit" type="com.model.Visit"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/mapper/userMapper.xml" />
        <mapper resource="com/mapper/customerMapper.xml" />
         <mapper resource="com/mapper/bedMapper.xml" />
         <mapper resource="com/mapper/roomMapper.xml" />
         <mapper resource="com/mapper/moveMapper.xml" />
         <mapper resource="com/mapper/leaveMapper.xml" />
         <mapper resource="com/mapper/visitMapper.xml" />
    </mappers>
</configuration>